
h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    max-width: 190mm;
    margin-top: 7mm;
    margin-bottom: 4mm;
}

h1 {
    text-align: center;
    margin-top: 15mm;
    margin-bottom: 7mm;
}

p {
    margin: 0 auto;
    max-width: 190mm;
    text-align: justify;
    margin-bottom: 4mm;
}

table {
    margin: 0 auto;
    max-width: 190mm;
    margin-top: 7mm;
    margin-bottom: 7mm;
    border-collapse: collapse;
}

tr {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

th, td {
    padding: 2mm;
}

img {
    margin: 0 auto;
    max-width: 190mm;
    display: block;
    margin-top: 7mm;
    margin-bottom: 7mm;
}

ul, ol, dl {
    margin: 0 auto;
    max-width: 190mm;
    margin-top: 4mm;
    margin-bottom: 4mm;
}

li {
    margin-top: 1mm;
    margin-bottom: 1mm;
}

dt {
    float: left;
    clear: left;
    font-weight: bold;
    text-align: right;
    width: 27mm;
    margin-right: 3mm;
}

dt:after {
    content: ":";
}

dd {
    margin-left: 30mm;
    margin-top: 1mm;
    margin-bottom: 1mm;
}
